
$color-primary: #44d62c;
$color-bg: #000;
$color-darkCard-bg: #111;
$color-lightCard-bg: #222;
$color-labelYellow-bg: #ffc107;
$color-labelOrange-bg: #ff9c07;
$color-labelBlue-bg: #28aadc;

$color-grey-text: #9a9a9a;
$color-white-text: #fff;
$color-lightGrey-text: #eee;
$color-black-text: #000;