@import url("../index.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Oswald:wght@600&family=Roboto:wght@100;300;400&display=swap");
@mixin ok {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}

.mobile-navbar {
  background-color: #1a1a1a;
  border-bottom: 1px solid #44d62c;
  padding: 18px;

  ul {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style-type: none;
    font-size: 0.9rem;
    padding-top: 15px;

    a {
      text-decoration: none;
      color: #fff;
      font-family: "Razer F5";
      .menu-icon {
        height: 40px;
        display: flex;
        align-items: end;
        padding-bottom: 10px;
        justify-content: center;
      }
      &:hover {
        color: #44d62c;
      }
    }

    .label {
      color: #e77b1a;
      text-align: center;
    }
  }
}


.intro-tag {
  background-color: #111;
  text-align: center;
  padding: 48px;

  .header {
    color: #44d62c;
    font-family: "Razer F5";
    font-size: 36px;
    letter-spacing: 0.0625rem;
    font-weight: 400;
  }

  .description {
    color: #999;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
  }
}

.dashboard1 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/9d62c1abff9014287154ad41465dbea6/razer-edge-hero.jpg");
    background-position-y: -100px;
    background-position-x: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.multi-panel {
  background-color: #252525;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .card {
    background-color: #111;
    border-bottom: #44d62c solid 1px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 550px;
    max-width: max-content;
    padding-bottom: 16px;
    a {
      img {
        width: 100%;
      }
    }
    .text-cont {
      h3 {
        padding-left: 10px;
        margin-top: 7px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #fff;
        font-family: "Roboto", sans-serif;
      }
      p {
        padding-left: 10px;
        font-size: 14px;
        color: #999;
        font-family: "Roboto", sans-serif;
      }
    }
    .product-link {
      margin-top: auto;
      padding-left: 10px;
      font-size: 14px;
      text-decoration: none;
      color: #44d62c;
      .arrow::after {
        @include ok;
      }
    }
    .product-link:hover {
      text-decoration: underline;
    }
  }
}
.dashboard2 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/6d5e42cc985b839667f80f80f88e6327/stay-in-sync-1920x700.jpg");
    background-position-y: 0px;
    background-position-x: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
    }
  }

  .links {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard3 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/8d15cb8a565e71ef01f047785d22ce69/gothe-extramile-category-1920x700-desktop.jpg");
    background-position-y: 0px;
    background-position-x: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.main-content{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 270px;
    h2{
        font-size: 28px;
        font-family: "Razer F5";
        color: #fff;
        font-weight: 400;
    }
    p{
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #999;
    }
}
.multi-content{
    background-color: #222;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    gap: 15px;
    .content-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 100px;
            height: 100px;
            padding-bottom: auto;
        }
        p{
            margin-top: 2rem;
            
            text-align: center;
            color: #999;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            a{
                color: #44d62c;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .multi-panel {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .multi-panel {
    justify-content: center;
  }
}
