@import url("../index.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Oswald:wght@600&family=Roboto:wght@100;300;400&display=swap");
.services-navbar {
  background-color: #1a1a1a;
  border-bottom: 1px solid #44d62c;
  padding: 18px;
}
.services-navbar ul {
  display: flex;
  justify-content: center;
  gap: 35px;
  list-style-type: none;
  font-size: 0.9rem;
  padding-top: 15px;
}
.services-navbar ul a {
  text-decoration: none;
  color: #fff;
  font-family: "Razer F5";
}
.services-navbar ul a .menu-icon {
  height: 40px;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  justify-content: center;
}
.services-navbar ul a:hover {
  color: #44d62c;
}
.services-navbar ul .label {
  color: #e77b1a;
  text-align: center;
}

.alert {
  background-color: #555555;
  color: #eee;
  text-align: center;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-tag {
  background-color: #111;
  text-align: center;
  padding: 48px;
  padding-left: 25%;
  padding-right: 25%;
}
.intro-tag .header {
  color: #44d62c;
  font-family: "Razer F5";
  font-size: 36px;
  letter-spacing: 0.0625rem;
  font-weight: 400;
}
.intro-tag .description {
  color: #999;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.dashboard1 {
  border-bottom: #44d62c solid 1px;
}
.dashboard1 .heading {
  text-align: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/d7d8a5e49e0713010baa91b8c412cdda/services-razer-gold.jpg");
  background-position: center;
  background-size: center;
  background-position: cover;
  min-height: 700px;
}
.dashboard1 .heading h2 {
  color: #eee;
  font-family: "Razer F5";
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 19.2px;
}
.dashboard1 .heading p {
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.dashboard1 .links {
  text-align: center;
  font-size: 16px;
}
.dashboard1 .links .arrow::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard1 .links a {
  text-decoration: none;
  color: #44d62c;
}
.dashboard1 .links a:hover {
  text-decoration: underline;
}

.dashboard2 {
  border-bottom: #44d62c solid 1px;
}
.dashboard2 .heading {
  text-align: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/b9e965bfe9e958df22d94e6eaea4dfa6/services-razer-silver.jpg");
  background-position: center;
  background-size: center;
  background-position: cover;
  min-height: 700px;
}
.dashboard2 .heading h2 {
  color: #eee;
  font-family: "Razer F5";
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 19.2px;
}
.dashboard2 .heading p {
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.dashboard2 .links {
  text-align: center;
  font-size: 16px;
}
.dashboard2 .links .arrow::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard2 .links a {
  text-decoration: none;
  color: #44d62c;
}
.dashboard2 .links a:hover {
  text-decoration: underline;
}

.dashboard3 {
  border-bottom: #44d62c solid 1px;
}
.dashboard3 .heading {
  text-align: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/5044606f04fbcc28b98ca2be9b48bc3e/services-gold-pins.jpg");
  background-position: center;
  background-size: center;
  background-position: cover;
  min-height: 700px;
}
.dashboard3 .heading h2 {
  color: #eee;
  font-family: "Razer F5";
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 19.2px;
}
.dashboard3 .heading p {
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.dashboard3 .links {
  text-align: center;
  font-size: 16px;
}
.dashboard3 .links .arrow::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard3 .links a {
  text-decoration: none;
  color: #44d62c;
}
.dashboard3 .links a:hover {
  text-decoration: underline;
}

.dashboard4 {
  border-bottom: #44d62c solid 1px;
}
.dashboard4 .heading {
  text-align: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/c44ce6aa9d981f08ce3f054e20fa07b2/services-gold-webshop.jpg");
  background-position: center;
  background-size: center;
  background-position: cover;
  min-height: 700px;
}
.dashboard4 .heading h2 {
  color: #eee;
  font-family: "Razer F5";
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 19.2px;
}
.dashboard4 .heading p {
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.dashboard4 .links {
  text-align: center;
  font-size: 16px;
}
.dashboard4 .links .arrow::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard4 .links a {
  text-decoration: none;
  color: #44d62c;
}
.dashboard4 .links a:hover {
  text-decoration: underline;
}

.dashboard5 {
  border-bottom: #44d62c solid 1px;
}
.dashboard5 .heading {
  text-align: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/c126593c168b557f2d7f3f0f596f4364/services-gift-card.jpg");
  background-position: center;
  background-size: center;
  background-position: cover;
  min-height: 700px;
}
.dashboard5 .heading h2 {
  color: #eee;
  font-family: "Razer F5";
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 19.2px;
}
.dashboard5 .heading p {
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.dashboard5 .links {
  text-align: center;
  font-size: 16px;
}
.dashboard5 .links .arrow::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard5 .links a {
  text-decoration: none;
  color: #44d62c;
}
.dashboard5 .links a:hover {
  text-decoration: underline;
}

.dashboard6 {
  border-bottom: #44d62c solid 1px;
}
.dashboard6 .heading {
  text-align: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/cd51cc9a2c8e89918bcce4a6b66132d3/services-razer-care.jpg");
  background-position: center;
  background-size: center;
  background-position: cover;
  min-height: 700px;
}
.dashboard6 .heading h2 {
  color: #eee;
  font-family: "Razer F5";
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 19.2px;
}
.dashboard6 .heading p {
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.dashboard6 .links {
  text-align: center;
  font-size: 16px;
}
.dashboard6 .links .arrow::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard6 .links a {
  text-decoration: none;
  color: #44d62c;
}
.dashboard6 .links a:hover {
  text-decoration: underline;
}

.dashboard7 {
  border-bottom: #44d62c solid 1px;
}
.dashboard7 .heading {
  text-align: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/5650df732c97f6ce9e0c813fc57b9605/services-razer-id.jpg");
  background-position: center;
  background-size: center;
  background-position: cover;
  min-height: 700px;
}
.dashboard7 .heading h2 {
  color: #eee;
  font-family: "Razer F5";
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 19.2px;
}
.dashboard7 .heading p {
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.dashboard7 .links {
  text-align: center;
  font-size: 16px;
}
.dashboard7 .links .arrow::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard7 .links a {
  text-decoration: none;
  color: #44d62c;
}
.dashboard7 .links a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=services.css.map */
