@import url("../index.css");
@mixin ok {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}

html {
  background-color: #252525;
}
main {
  background-color: #333333;
  padding: 0;
  margin: 0;
}

.navbar-submenu {
  background-color: #1a1a1a;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  padding: 18px;
  overflow-x: scroll;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 6px;
    overflow: hidden;
  }
  &::-webkit-scrollbar-track {
    background-color: #31373a;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 40px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: max-content;
    gap: 35px;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #fff;
        font-family: "Razer F5";
        font-size: 0.75rem;

        &:hover {
          color: #44d62c;
        }

        .icon-box {
          height: 40px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
      }

      & > p {
        color: #f5b21d;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.console-intro {
  background-color: #111;
  display: flex;

  .container {
    display: flex;
    padding: 48px 0px;
    background-color: #111;
    margin-bottom: 0;
    justify-content: center;
    z-index: 1;

    div {
      padding: 0 18px;
      width: 70%;
      @media (max-width:980px) {
        width: 100%;
      }

      h1 {
        font-size: 36px;
        color: #44d62c;
        font-family: "Razer F5";
        text-align: center;
        font-weight: 200;
        margin: 0px 0px 8px;
        padding: 0px 0px 5px;
      }
      p {
        color: #888;
        font-family: "Roboto", "Helvetica Neue";
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}

.video-console {
  padding-bottom: 25px;
  .video-container {
    width: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-panel {
  background-color: #333;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  z-index: 1;
  @media (max-width:800px) {
    flex-wrap: wrap;
  }

  .card-item {
    background-color: #111;
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 490.4px;
    max-height: 616.5px;
    min-width: 250px;
    border-bottom: 0.8px solid #44d62c;
    @media (max-width:999px) {
      max-width: 40vw;
    }

    .img-container {
      display: flex;
      justify-content: center;
      a {
        img {
          max-width: 100%;
        }
      }
    }

    .text-container {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 14px;
      height: 100%;

      div {
        padding: 10px 10px 0px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: #fff;
      }
      p {
        color: #888;
        padding: 10px 10px 0;
      }

      a {
        color: #44d62c;
        display: flex;
        padding: 10px;
        text-decoration: none;
        justify-self: flex-end;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.dashboard93 {
  padding-top: 25px;
  .container {
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/585a94a7b6316023e5ca412a1896d43e/razer-kitsune-category-desktop-1920x700.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 0.8px solid #44d62c;
    margin: 0;
    @media (max-width:768px) {
      height: 529px;
    }

    h2 {
      color: #fff;
      font-family: "Razer F5";
      font-weight: 300;
      line-height: 30px;
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 20px;
    }

    p {
      color: #999;
      font-size: 18px;
      font-weight: 300;
      padding: 7px 16px 20px;
    }

    a {
      text-decoration: none;
      color: #44d62c;
      font-size: 16px;
      text-decoration: none;

      &::after {
        @include ok;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dashboard92 {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/d8b6ca4b5132dbf07367a8e8115f5df7/back-to-school-campaign-1920x400.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 55%;
  @media (max-width:768px) {
    height: 610px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin-right: 60px;
    gap: 1rem;
    @media (max-width:768px) {
      justify-content: flex-end;
      width: 90%;
      padding: 1rem 2rem;
      align-items: flex-start;
    }
    h2 {
      color: #fff;
      font-family: "Razer F5";
      font-size: 28px;
      font-weight: 300;
    }

    p {
      font-weight: 300;
      color: #999;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      color: #44d62c;
      font-size: 16px;
      font-weight: 400;

      &::after {
        @include ok;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dashboard98 {
  background-color: #111;
  .container {
    background-image: url(https://assets2.razerzone.com/images/pnx.assets/0e064526124df6127811074622ca706f/sonic-the-hedgehog-xbox-controller-and-charging-stand-1920x700-desktop.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 699px;
    border-bottom: 0.8px solid #44d62c;
    margin-bottom: 0;
    @media (max-width:768px) {
      height: 529px;
    }

    h2 {
      color: #fff;
      font-family: "Razer F5";
      font-weight: 300;
      line-height: 30px;
      font-size: 28px;
      padding: 65px 0px 0px;
    }
    p {
      font-weight: 200;
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      font-family: "Roboto", sans-serif;
      margin: 0px 12px;
      line-height: 27px;
    }
    a {
      text-decoration: none;
      color: #44d62c;
      font-size: 16px;
      font-weight: 300;
      padding: 0px 16px;
      &::after {
        @include ok;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.card-panel1 {
  background-color: #252525;
  max-height: max-content;
  display: flex;
  gap: 1.7rem;
  padding: 25px 12px;
  justify-content: center;
  @media (max-width:575px) {
    flex-wrap: wrap;
  }

  .card-item {
    background-color: #111;
    border-bottom: 0.8px solid #44d62c;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    max-width: 450px;
    display: flex;
    flex-direction: column;

    .img-container {
      img {
        width: 100%;
        min-width: 250px;
      }
    }

    .text-container {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      height: 100%;
      justify-content: space-between;

      h2 {
        padding: 10px 10px 0px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: #fff;
        font-weight: 300;
      }
      p {
        color: #888;
        padding: 10px 10px 0;
      }

      a {
        color: #44d62c;
        text-decoration: none;
        padding: 10px;
        &::after {
          content: ">";
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.dashboard99 {
  background-color: #111;
  .container {
    background-image: url(https://assets2.razerzone.com/images/pnx.assets/cd8c66be4b03c7637164d056fd453195/gamesetmatch-category-1920x700-desktop.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 699px;
    border-bottom: 0.8px solid #44d62c;
    margin-bottom: 0;
    @media (max-width:768px) {
      height: 529px;
    }

    h2 {
      color: #fff;
      font-family: "Razer F5";
      font-weight: 300;
      line-height: 30px;
      font-size: 28px;
      padding: 65px 0px 0px;
    }
    p {
      font-weight: 300;
      color: #999;
      max-width: 950px;
      font-size: 18px;
      padding: 7px 16px 20px;
      font-family: "Roboto", sans-serif;
      margin: 0px 25px;
      line-height: 27px;
      text-align: center;
      opacity: 5;
    }
    a {
      text-decoration: none;
      color: #44d62c;
      font-size: 16px;
      font-weight: 300;
      padding: 0px 16px;
      &::after {
        @include ok;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dashboard96 {
  background-color: #111;
  .container {
    background-image: url(https://assets2.razerzone.com/images/pnx.assets/d97d6645a23af786a27123af21877690/razer-wolverine-v2-chroma-category-1920x700-desktop.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 699px;
    border-bottom: 0.8px solid #44d62c;
    margin-bottom: 0;
    @media (max-width:768px) {
      height: 529px;
    }

    h2 {
      color: #fff;
      font-family: "Razer F5";
      font-weight: 300;
      line-height: 30px;
      font-size: 28px;
      padding: 65px 0px 0px;
      text-align: center;
    }
    p {
      font-weight: 300;
      color: #999;
      max-width: 950px;
      font-size: 18px;
      padding: 7px 16px 20px;
      font-family: "Roboto", sans-serif;
      margin: 0px 25px;
      line-height: 27px;
      text-align: center;
      opacity: 5;
    }
    a {
      text-decoration: none;
      color: #44d62c;
      font-size: 16px;
      font-weight: 300;
      padding: 0px 16px;
      &::after {
        @include ok;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dashboard95 {
  background-color: #111;
  .container {
    background-image: url(https://assets2.razerzone.com/images/pnx.assets/1f2c6dbd38e9414c6ed618b0ac283295/connect-compete-conquer-category-2023-1920x700-desktop.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 699px;
    border-bottom: 0.8px solid #44d62c;
    margin-bottom: 0;
    @media (max-width:768px) {
      height: 529px;
    }

    h2 {
      color: #fff;
      font-family: "Razer F5";
      font-weight: 300;
      line-height: 30px;
      font-size: 28px;
      padding: 65px 0px 0px;
    }
    p {
      font-weight: 300;
      color: #999;
      max-width: 950px;
      font-size: 18px;
      padding: 7px 16px 20px;
      font-family: "Roboto", sans-serif;
      margin: 0px 25px;
      line-height: 27px;
      text-align: center;
      opacity: 5;
    }
    a {
      text-decoration: none;
      color: #44d62c;
      font-size: 16px;
      font-weight: 300;
      padding: 0px 16px;
      &::after {
        @include ok;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.intro-tag {
  background-color: #252525;
  padding: 64px 0px 40px;
  color: #fff;
  display: flex;
  justify-content: center;

  .container {
    text-align: center;
    padding: 0px 24px;
    max-width: 980px;

    h2 {
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      font-family: "Razer F5", sans-serif;
      font-weight: 200;
      padding: 0px 0px 5px;
      margin: 0px 0px 8px;
    }
    p {
      color: #999;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.75rem;
    }
  }
}
.card-panel {
  .container {
    background-color: #252525;
    max-height: max-content;
    padding: 25px 12px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0;
    @media (min-width: 1150px) {
      flex-wrap: nowrap;
    }

    .card-item {
      border-bottom: 0.8px solid #44d62c;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-size: 1.125rem;
      max-width: 450px;
      .img-container {
        img {
          background-color: #000;
          width: 100%;
          min-width: 250px;
        }
      }

      .text-container {
        background-color: #111;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .text1 {
          padding: 10px 10px 0px;
          font-family: "Roboto", Helvetica, Arial, sans-serif;
          font-size: 18px;
          color: #fff;
          font-weight: 300;
        }
        p {
          color: #888;
          padding: 10px 10px 0;
        }

        a {
          color: #44d62c;
          text-decoration: none;
          padding: 10px;
          &::after {
            content: ">";
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.dashboard94 {
  .container {
    display: flex;
    justify-content: flex-start;
    height: 400px;
    position: relative;
    background-color: #000;
    @media (max-width:768px) {
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/8b828caeca30f807d38978df53d701c9/console-gamepads-engineered-category-mobile.jpg);
      max-height: 800px;
      background-repeat: no-repeat;
      max-width: 100%;
      height: 700px;
    }
    @media (max-width:580px) {
      height: 750px;
    }

    .img-container {
      display: flex;
      position: absolute;

      img {
        width: 100%;
        height: 400px;
        @media (max-width:768px) {
          display: none;
        }
        
      }
    }
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 32%;
      position: absolute;
      margin: 0 0 0 1rem;
      padding: 0 1rem;
      height: 100%;
      @media (max-width:768px) {
        width: 100%;
        height: 100%;
        justify-content: flex-end;
      }

      h2 {
        font-family: "Razer F5", sans-serif;
        font-weight: 200;
        color: #fff;
        font-size: 28px;
        margin: 1rem 0;
        line-height: 30px;
      }

      p {
        font-size: 1.125rem;
        color: #8888;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
      }

      a {
        text-decoration: none;
        color: #44d62c;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        padding: 1rem 0;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}