@import url("../index.css");
html {
  background-color: #252525;
}

body {
  margin: 0;
}

main {
  background-color: #333333;
}

.navbar-submenu {
  background-color: #1a1a1a;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  padding: 18px;
  overflow-x: scroll;
  overflow-x: auto;
  border-bottom: 1px solid #44d62c;
}
.navbar-submenu::-webkit-scrollbar {
  height: 6px;
  overflow: hidden;
}
.navbar-submenu::-webkit-scrollbar-track {
  background-color: #31373a;
}
.navbar-submenu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 40px;
}
.navbar-submenu ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: max-content;
  gap: 35px;
}
.navbar-submenu ul li {
  list-style: none;
}
.navbar-submenu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Razer F5";
  font-size: 0.75rem;
}
.navbar-submenu ul li a:hover {
  color: #44d62c;
}
.navbar-submenu ul li a .icon-box {
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navbar-submenu ul li > p {
  color: #f5b21d;
  font-size: 12px;
  text-align: center;
}

.console-intro {
  background-color: #111;
  display: flex;
}
.console-intro .container {
  display: flex;
  padding: 48px 0px;
  background-color: #111;
  margin-bottom: 0;
  justify-content: center;
  z-index: 1;
}
.console-intro .container div {
  padding: 0 18px;
  width: 70%;
}
@media (max-width: 980px) {
  .console-intro .container div {
    width: 100%;
  }
}
.console-intro .container div h1 {
  font-size: 36px;
  color: #44d62c;
  font-family: "Razer F5";
  text-align: center;
  font-weight: 200;
  margin: 0px 0px 8px;
  padding: 0px 0px 5px;
}
.console-intro .container div p {
  color: #888;
  font-family: "Roboto", "Helvetica Neue";
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.video-console {
  padding-bottom: 25px;
}
.video-console .video-container {
  width: 100%;
}
.video-console .video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-panel {
  background-color: #333;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  z-index: 1;
}
@media (max-width: 800px) {
  .card-panel {
    flex-wrap: wrap;
  }
}
.card-panel .card-item {
  background-color: #111;
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 490.4px;
  max-height: 616.5px;
  min-width: 250px;
  border-bottom: 0.8px solid #44d62c;
}
@media (max-width: 999px) {
  .card-panel .card-item {
    max-width: 40vw;
  }
}
.card-panel .card-item .img-container {
  display: flex;
  justify-content: center;
}
.card-panel .card-item .img-container a img {
  max-width: 100%;
}
.card-panel .card-item .text-container {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  height: 100%;
}
.card-panel .card-item .text-container div {
  padding: 10px 10px 0px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
}
.card-panel .card-item .text-container p {
  color: #888;
  padding: 10px 10px 0;
}
.card-panel .card-item .text-container a {
  color: #44d62c;
  display: flex;
  padding: 10px;
  text-decoration: none;
  justify-self: flex-end;
}
.card-panel .card-item .text-container a:hover {
  text-decoration: underline;
}

.dashboard93 {
  padding-top: 25px;
}
.dashboard93 .container {
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/585a94a7b6316023e5ca412a1896d43e/razer-kitsune-category-desktop-1920x700.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 0.8px solid #44d62c;
  margin: 0;
}
@media (max-width: 768px) {
  .dashboard93 .container {
    height: 529px;
  }
}
.dashboard93 .container h2 {
  color: #fff;
  font-family: "Razer F5";
  font-weight: 300;
  line-height: 30px;
  font-size: 28px;
  padding: 65px 0px 0px;
  margin: 0px 16px 20px;
}
.dashboard93 .container p {
  color: #999;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 16px 20px;
}
.dashboard93 .container a {
  text-decoration: none;
  color: #44d62c;
  font-size: 16px;
  text-decoration: none;
}
.dashboard93 .container a::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard93 .container a:hover {
  text-decoration: underline;
}

.dashboard92 {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/d8b6ca4b5132dbf07367a8e8115f5df7/back-to-school-campaign-1920x400.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 55%;
}
@media (max-width: 768px) {
  .dashboard92 {
    height: 610px;
  }
}
.dashboard92 .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-right: 60px;
  gap: 1rem;
}
@media (max-width: 768px) {
  .dashboard92 .text-container {
    justify-content: flex-end;
    width: 90%;
    padding: 1rem 2rem;
    align-items: flex-start;
  }
}
.dashboard92 .text-container h2 {
  color: #fff;
  font-family: "Razer F5";
  font-size: 28px;
  font-weight: 300;
}
.dashboard92 .text-container p {
  font-weight: 300;
  color: #999;
  font-size: 18px;
}
.dashboard92 .text-container a {
  text-decoration: none;
  color: #44d62c;
  font-size: 16px;
  font-weight: 400;
}
.dashboard92 .text-container a::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard92 .text-container a:hover {
  text-decoration: underline;
}

.dashboard98 {
  background-color: #111;
}
.dashboard98 .container {
  background-image: url(https://assets2.razerzone.com/images/pnx.assets/0e064526124df6127811074622ca706f/sonic-the-hedgehog-xbox-controller-and-charging-stand-1920x700-desktop.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 699px;
  border-bottom: 0.8px solid #44d62c;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .dashboard98 .container {
    height: 529px;
  }
}
.dashboard98 .container h2 {
  color: #fff;
  font-family: "Razer F5";
  font-weight: 300;
  line-height: 30px;
  font-size: 28px;
  padding: 65px 0px 0px;
}
.dashboard98 .container p {
  font-weight: 200;
  color: #999;
  font-size: 18px;
  padding: 7px 16px 20px;
  font-family: "Roboto", sans-serif;
  margin: 0px 12px;
  line-height: 27px;
}
.dashboard98 .container a {
  text-decoration: none;
  color: #44d62c;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 16px;
}
.dashboard98 .container a::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard98 .container a:hover {
  text-decoration: underline;
}

.card-panel1 {
  background-color: #252525;
  max-height: max-content;
  display: flex;
  gap: 1.7rem;
  padding: 25px 12px;
  justify-content: center;
}
@media (max-width: 575px) {
  .card-panel1 {
    flex-wrap: wrap;
  }
}
.card-panel1 .card-item {
  background-color: #111;
  border-bottom: 0.8px solid #44d62c;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}
.card-panel1 .card-item .img-container img {
  width: 100%;
  min-width: 250px;
}
.card-panel1 .card-item .text-container {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 100%;
  justify-content: space-between;
}
.card-panel1 .card-item .text-container h2 {
  padding: 10px 10px 0px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.card-panel1 .card-item .text-container p {
  color: #888;
  padding: 10px 10px 0;
}
.card-panel1 .card-item .text-container a {
  color: #44d62c;
  text-decoration: none;
  padding: 10px;
}
.card-panel1 .card-item .text-container a::after {
  content: ">";
}
.card-panel1 .card-item .text-container a:hover {
  text-decoration: underline;
}

.dashboard99 {
  background-color: #111;
}
.dashboard99 .container {
  background-image: url(https://assets2.razerzone.com/images/pnx.assets/cd8c66be4b03c7637164d056fd453195/gamesetmatch-category-1920x700-desktop.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 699px;
  border-bottom: 0.8px solid #44d62c;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .dashboard99 .container {
    height: 529px;
  }
}
.dashboard99 .container h2 {
  color: #fff;
  font-family: "Razer F5";
  font-weight: 300;
  line-height: 30px;
  font-size: 28px;
  padding: 65px 0px 0px;
}
.dashboard99 .container p {
  font-weight: 300;
  color: #999;
  max-width: 950px;
  font-size: 18px;
  padding: 7px 16px 20px;
  font-family: "Roboto", sans-serif;
  margin: 0px 25px;
  line-height: 27px;
  text-align: center;
  opacity: 5;
}
.dashboard99 .container a {
  text-decoration: none;
  color: #44d62c;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 16px;
}
.dashboard99 .container a::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard99 .container a:hover {
  text-decoration: underline;
}

.dashboard96 {
  background-color: #111;
}
.dashboard96 .container {
  background-image: url(https://assets2.razerzone.com/images/pnx.assets/d97d6645a23af786a27123af21877690/razer-wolverine-v2-chroma-category-1920x700-desktop.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 699px;
  border-bottom: 0.8px solid #44d62c;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .dashboard96 .container {
    height: 529px;
  }
}
.dashboard96 .container h2 {
  color: #fff;
  font-family: "Razer F5";
  font-weight: 300;
  line-height: 30px;
  font-size: 28px;
  padding: 65px 0px 0px;
  text-align: center;
}
.dashboard96 .container p {
  font-weight: 300;
  color: #999;
  max-width: 950px;
  font-size: 18px;
  padding: 7px 16px 20px;
  font-family: "Roboto", sans-serif;
  margin: 0px 25px;
  line-height: 27px;
  text-align: center;
  opacity: 5;
}
.dashboard96 .container a {
  text-decoration: none;
  color: #44d62c;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 16px;
}
.dashboard96 .container a::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard96 .container a:hover {
  text-decoration: underline;
}

.dashboard95 {
  background-color: #111;
}
.dashboard95 .container {
  background-image: url(https://assets2.razerzone.com/images/pnx.assets/1f2c6dbd38e9414c6ed618b0ac283295/connect-compete-conquer-category-2023-1920x700-desktop.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 699px;
  border-bottom: 0.8px solid #44d62c;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .dashboard95 .container {
    height: 529px;
  }
}
.dashboard95 .container h2 {
  color: #fff;
  font-family: "Razer F5";
  font-weight: 300;
  line-height: 30px;
  font-size: 28px;
  padding: 65px 0px 0px;
}
.dashboard95 .container p {
  font-weight: 300;
  color: #999;
  max-width: 950px;
  font-size: 18px;
  padding: 7px 16px 20px;
  font-family: "Roboto", sans-serif;
  margin: 0px 25px;
  line-height: 27px;
  text-align: center;
  opacity: 5;
}
.dashboard95 .container a {
  text-decoration: none;
  color: #44d62c;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 16px;
}
.dashboard95 .container a::after {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.dashboard95 .container a:hover {
  text-decoration: underline;
}

.intro-tag {
  background-color: #252525;
  padding: 64px 0px 40px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.intro-tag .container {
  text-align: center;
  padding: 0px 24px;
  max-width: 980px;
}
.intro-tag .container h2 {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-family: "Razer F5", sans-serif;
  font-weight: 200;
  padding: 0px 0px 5px;
  margin: 0px 0px 8px;
}
.intro-tag .container p {
  color: #999;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.card-panel .container {
  background-color: #252525;
  max-height: max-content;
  padding: 25px 12px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 0;
}
@media (min-width: 1150px) {
  .card-panel .container {
    flex-wrap: nowrap;
  }
}
.card-panel .container .card-item {
  border-bottom: 0.8px solid #44d62c;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  max-width: 450px;
}
.card-panel .container .card-item .img-container img {
  background-color: #000;
  width: 100%;
  min-width: 250px;
}
.card-panel .container .card-item .text-container {
  background-color: #111;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card-panel .container .card-item .text-container .text1 {
  padding: 10px 10px 0px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.card-panel .container .card-item .text-container p {
  color: #888;
  padding: 10px 10px 0;
}
.card-panel .container .card-item .text-container a {
  color: #44d62c;
  text-decoration: none;
  padding: 10px;
}
.card-panel .container .card-item .text-container a::after {
  content: ">";
}
.card-panel .container .card-item .text-container a:hover {
  text-decoration: underline;
}

.dashboard94 .container {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  position: relative;
  background-color: #000;
}
@media (max-width: 768px) {
  .dashboard94 .container {
    background-image: url(https://assets2.razerzone.com/images/pnx.assets/8b828caeca30f807d38978df53d701c9/console-gamepads-engineered-category-mobile.jpg);
    max-height: 800px;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 700px;
  }
}
@media (max-width: 580px) {
  .dashboard94 .container {
    height: 750px;
  }
}
.dashboard94 .container .img-container {
  display: flex;
  position: absolute;
}
.dashboard94 .container .img-container img {
  width: 100%;
  height: 400px;
}
@media (max-width: 768px) {
  .dashboard94 .container .img-container img {
    display: none;
  }
}
.dashboard94 .container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 32%;
  position: absolute;
  margin: 0 0 0 1rem;
  padding: 0 1rem;
  height: 100%;
}
@media (max-width: 768px) {
  .dashboard94 .container .text-container {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }
}
.dashboard94 .container .text-container h2 {
  font-family: "Razer F5", sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 28px;
  margin: 1rem 0;
  line-height: 30px;
}
.dashboard94 .container .text-container p {
  font-size: 1.125rem;
  color: rgba(136, 136, 136, 0.5333333333);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.dashboard94 .container .text-container a {
  text-decoration: none;
  color: #44d62c;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 1rem 0;
}
.dashboard94 .container .text-container a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
