@import url("../index.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Oswald:wght@600&family=Roboto:wght@100;300;400&display=swap");
@mixin ok {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}
.lifestyle-navbar {
  background-color: #1a1a1a;
  border-bottom: 1px solid #44d62c;
  padding: 18px;

  ul {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style-type: none;
    font-size: 0.9rem;
    padding-top: 15px;

    a {
      text-decoration: none;
      color: #fff;
      font-family: "Razer F5";
      .menu-icon {
        height: 40px;
        display: flex;
        align-items: end;
        padding-bottom: 10px;
        justify-content: center;
      }
      &:hover {
        color: #44d62c;
      }
    }

    .label {
      color: #e77b1a;
      text-align: center;
    }
  }
}

.intro-tag {
  background-color: #111;
  text-align: center;
  padding: 48px;
  padding-left: 50%;
  padding-right: 50%;
  .header {
    color: #44d62c;
    font-family: "Razer F5";
    font-size: 36px;
    letter-spacing: 0.0625rem;
    font-weight: 400;
  }

  .description {
    color: #999;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
  }
}
.dashboard1 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/0666dc773bd5460ed41bf6e1a1ebad3a/lifestyle-chairs-category-banner.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard2 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/f016346e8c8e71ae1ad6731d95943a86/sneki-snek-s2-desktop-cat-banner.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      text-align: center;
      padding: 7px 16px 20px;
      margin-left: 50%;
      margin-right: 50%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard3 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/cd2d636f26bd91dd99923c71b9e84a83/complete-your-setup-campaign-category-banner-desktop.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard4 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/25525a620ccdb5488244fde60674f5e0/collabs-category-1920x700-desktop.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard5 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/9cb7c4425da9e5099bd4e2afebc9b56b/apparel-category-1920x700-desktop.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      
      text-align: center;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard6 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/df70fc0371004f9fb85d60a62f905502/lifestyle-bag.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard7 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/3a1137ca109d372509c5a129f0e62483/lifestyle-gear.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard8 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/2bce7b0e7f5425138cb2daf35ff9fa7a/razer-cloth-mask-v2-desktop-cat-banner.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard9 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/0248d471a2bf516300a5af348fe1655d/lifestyle-sneki-snek.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
.dashboard10 {
  border-bottom: #44d62c solid 1px;
  .heading {
    text-align: center;
    background-image: url("https://assets2.razerzone.com/images/pnx.assets/3bb1bbc90757131821e400fa6ada15dd/lifestyle-respawn.jpg");

    background-position: center;
    background-size: center;
    background-position: cover;

    min-height: 700px;

    h2 {
      color: #eee;
      font-family: "Razer F5";
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 19.2px;
    }

    p {
      color: #999;
      font-size: 18px;
      padding: 7px 16px 20px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .links {
    text-align: center;
    font-size: 16px;
    .arrow::after {
      @include ok;
    }

    a {
      text-decoration: none;
      color: #44d62c;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
