@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Razer F5';
  src: url('./assets/fonts/RazerF5.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Razer F5';
  src: url('./assets/fonts/RazerF5Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Razer F5';
  src: url('./assets/fonts/RazerF5Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Razer F5';
  src: url('./assets/fonts/RazerF5Thin.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Razer F5';
  src: url('./assets/fonts/RazerF5SemiBold.woff') format('woff');
  font-weight: 500;
}

:root {
  --color-background: #f4f4f4;
  --color-text: #212738;
  --color-inverse: #ffffff;
  --color-transparent: transparent;
  --color-primary: #44d62c;
  --color-secondary: #fff;
  --color-success: #44d62c;
  --color-info: #28aadc;
  --color-warning: #ffc107;
  --color-danger: #c8323c;
  --color-light: #eee;
  --color-dark: #222;
  --color-primary-accent: #ff8b8b;
  --color-visual-focus: #6d9df7;
  --color-background-focus: rgba(80, 176, 244, 0.1);
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semi: 600;
  --font-weight-bold: 700;
  --direction: ltr;
  --transition-duration: 0.5s;
  --animation-duration: 1s;
  --border-radius: 1em;
  --buttons-border-radius: 0.25rem;
  --border-style: solid;
  --razer-color-body-titles: #fff;
  --razer-color-body-text: #999;
  --razer-color-address-card: #888;
  --color-light: #222;
  --color-background: #222;
  --color-text: #999;
  --color-footer-bg: #111111;

  --color-ghost: #f1f1f1;
  --color-ghost-animation: rgba(255, 255, 255, 0.2);
  --ghost-radius: 5px;
  --ghost-margin: 10px;

  --btf-delay: 0.3s;
  --btf-min-height: 100vh;
  --btf-margin-top: 100vh;

  --font-weight-bold: 400;

  --color-gray-10: hsl(0, 0%, 10%);
  --color-gray-15: hsl(0, 0%, 15%);
  --color-gray-20: hsl(0, 0%, 20%);
  --color-gray-25: hsl(0, 0%, 25%);
  --color-gray-30: hsl(0, 0%, 30%);
  --color-gray-35: hsl(0, 0%, 35%);
  --color-gray-40: hsl(0, 0%, 40%);
  --color-gray-45: hsl(0, 0%, 45%);
  --color-gray-50: hsl(0, 0%, 50%);
  --color-gray-55: hsl(0, 0%, 55%);
  --color-gray-60: hsl(0, 0%, 60%);
  --color-gray-65: hsl(0, 0%, 65%);
  --color-gray-70: hsl(0, 0%, 70%);
  --color-gray-75: hsl(0, 0%, 75%);
  --color-gray-80: hsl(0, 0%, 80%);
  --color-gray-85: hsl(0, 0%, 85%);
  --color-gray-90: hsl(0, 0%, 90%);
  --color-gray-95: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-family: 'Razer F5';
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  background-color: #000;
}

#app {
  background: var(--color-background);
}

.container {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#navbar-container.container {
  margin: 0;
}
