@import url("../index.css");
@mixin ok {
  content: ">";
  color: var(--color-primary);
  font-family: "Razer F5";
  position: absolute;
  margin-left: 0.4rem;
}

#console-page {
  width: 100%;

  .navbar-submenu {
    background-color: #1a1a1a;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 18px;

    ul {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      max-height: max-content;
      gap: 35px;

      li {
        list-style: none;
        
        a {
            text-decoration: none;
            color: #FFF;
            font-family: "Razer F5";
            font-size: 0.75rem;

            &:hover {
                color: #44D62C;
            }
            
            .icon-box {
                height: 40px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }
        }

        & > p {
            color: #F5B21D;
            font-size: 12px;
            text-align: center;
        }
      }
    }
  }

  .razer-notification {
    width: 100%;
    background-color: #555;
    
    .notification {
        color: #eee;
        font-size: 14px;
        padding: 11.5px 40px 9.5px 30px;
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: center;
        text-align: center;
        border-top:1px solid #44D62C;
    }
  }

  .console-intro {
    background-color: #111;
    display: flex;

    .container {
      display: flex;
      padding: 48px 0px;
      background-color: #111;
      margin-bottom: 0;
      justify-content: center;

      div {
        padding-left: 30px;
        padding-right: 30px;
        width: 70%;

        h1 {
            font-size: 36px;
            color: #44D62C;
            font-family: "Razer F5";
            display: flex;
            justify-content: center;
            font-weight: 200;
            margin: 0px 0px 8px;
            padding: 0px 0px 5px;
        }
        p {
            color:#888;
            font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "apple color emoji", "segoe ui emoji", "Segoe UI Symbol", "noto color emoji";
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.5;
        }
    }
  }
  }

  .video-console {

    .video-container {
      width: 100%;
      
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .card-panel {
    background-color: #252525;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    padding: 2rem;    

    .card-item {
      background-color: #111;
      display: flex;
      flex-direction: column;
      width: 40%;
      max-width: 490.4px;
      max-height: 616.5px;
      min-width: 250px;
      border-bottom: 0.8px solid #44D62C;
      
      .img-container {
        display: flex;
        justify-content: center;
        a {
          img {
            max-width: 100%;
          }
        }
      }

      .text-container {
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        height: 100%;


        div {
          padding: 10px 10px 0px;
          font-family: "Roboto", Helvetica, Arial, sans-serif;
          font-size: 18px;
          color: #fff;
        }
        p {
          color: #888;
          padding: 10px 10px 0;
        }

          a {
            color: #44D62C;
            display: flex;
            padding: 10px;
            text-decoration: none;
            justify-self: flex-end;

            &:hover {
              text-decoration: underline;

            }
          }
      }
    }
  }
  .dashboard93 {

    .container {
      background-image: url("https://assets2.razerzone.com/images/pnx.assets/585a94a7b6316023e5ca412a1896d43e/razer-kitsune-category-desktop-1920x700.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      border-bottom: 0.8px solid #44D62C;
      margin: 0;

      h2 {
      color: #fff;
      font-family: "Razer F5";
      font-weight: 300;
      line-height: 30px;
      font-size: 28px;
      padding: 65px 0px 0px;
      margin: 0px 16px 20px;
      }
      
      p {
      color: #999;
      font-size: 18px;
      font-weight: 300;
      padding: 7px 16px 20px;
      }

      a { 
        text-decoration: none;
        color: #44D62C;
        font-size: 16px;
        text-decoration: none;

        &::after{
          @include ok;
        }

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .dashboard92 {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto",sans-serif;
    background-image: url("/assets/console/back-to-school-campaign-1920x400.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 55%;

      .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        margin-right: 60px;
        gap: 1rem;
  
        h2 {
          color: #FFF;
          font-family: "Razer F5";
          font-size: 28px;
          font-weight: 300;
        }
  
        p {
          font-weight: 300;
          color: #999;
          font-size: 18px;
        }
  
        a {
          text-decoration: none;
          color: #44D62C;
          font-size: 16px;
          font-weight: 400;

          &::after {
            @include ok;
          }

          &:hover {
            text-decoration: underline;
          }
        }
    }
    
  }

  .dashboard98 {
    background-color: #111;
    .container{
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/0e064526124df6127811074622ca706f/sonic-the-hedgehog-xbox-controller-and-charging-stand-1920x700-desktop.jpg);
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 699px;
      border-bottom: 0.8px solid #44D62C;
      margin-bottom: 0;
      
      h2 {
        color: #fff;
        font-family: "Razer F5";
        font-weight: 300;
        line-height: 30px;
        font-size: 28px;
        padding: 65px 0px 0px;
      }
      p {
        font-weight: 200;
        color: #999;
        font-size: 18px;
        padding: 7px 16px 20px;
        font-family: "Roboto", sans-serif;
        margin: 0px 12px;
        line-height: 27px;
      }
      a {
        text-decoration: none;
        color: #44D62C;
        font-size: 16px;
        font-weight: 300;
        padding: 0px 16px;
        &::after{
          @include ok;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .card-panel1{
    background-color: #252525;
    max-height: max-content;
    display: flex;
    gap: 1.7rem;
    padding: 25px 0px;
    justify-content: center;
    padding-right: 12px;
    padding-left: 12px;

    .card-item {
      background-color: #111;
      border-bottom: 0.8px solid #44D62C;
      font-family: "Roboto",Helvetica,Arial,sans-serif;
      font-size: 1.125rem;
      max-width: 450px;
      display: flex;
      flex-direction: column;

      .img-container {
        img {
          width: 100%;
          min-width: 250px;
        }
      }

      .text-container {
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        height: 100%;
        justify-content: space-between;

        h2 {
          padding: 10px 10px 0px;
          font-family: "Roboto", Helvetica, Arial, sans-serif;
          font-size: 18px;
          color: #fff;
          font-weight: 300;

        }
        p {
          color: #888;
          padding: 10px 10px 0;
        }

        a {
          color: #44D62C;
          text-decoration: none;
          padding: 10px;
          &::after {
            content: ">";
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .dashboard99 {
    background-color: #111;
    .container{
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/cd8c66be4b03c7637164d056fd453195/gamesetmatch-category-1920x700-desktop.jpg);
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 699px;
      border-bottom: 0.8px solid #44D62C;
      margin-bottom: 0;
      
      h2 {
        color: #fff;
        font-family: "Razer F5";
        font-weight: 300;
        line-height: 30px;
        font-size: 28px;
        padding: 65px 0px 0px;
      }
      p {
        font-weight: 300;
        color: #999;
        max-width: 950px;
        font-size: 18px;
        padding: 7px 16px 20px;
        font-family: "Roboto", sans-serif;
        margin: 0px 25px;
        line-height: 27px;
        text-align: center;
        opacity: 5;
      }
      a {
        text-decoration: none;
        color: #44D62C;
        font-size: 16px;
        font-weight: 300;
        padding: 0px 16px;
        &::after{
          @include ok;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .dashboard96 {
    background-color: #111;
    .container{
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/d97d6645a23af786a27123af21877690/razer-wolverine-v2-chroma-category-1920x700-desktop.jpg);
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 699px;
      border-bottom: 0.8px solid #44D62C;
      margin-bottom: 0;
      
      h2 {
        color: #fff;
        font-family: "Razer F5";
        font-weight: 300;
        line-height: 30px;
        font-size: 28px;
        padding: 65px 0px 0px;
      }
      p {
        font-weight: 300;
        color: #999;
        max-width: 950px;
        font-size: 18px;
        padding: 7px 16px 20px;
        font-family: "Roboto", sans-serif;
        margin: 0px 25px;
        line-height: 27px;
        text-align: center;
        opacity: 5;
      }
      a {
        text-decoration: none;
        color: #44D62C;
        font-size: 16px;
        font-weight: 300;
        padding: 0px 16px;
        &::after{
          @include ok;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .dashboard95 {
    background-color: #111;
    .container{
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/1f2c6dbd38e9414c6ed618b0ac283295/connect-compete-conquer-category-2023-1920x700-desktop.jpg);
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 699px;
      border-bottom: 0.8px solid #44D62C;
      margin-bottom: 0;
      
      h2 {
        color: #fff;
        font-family: "Razer F5";
        font-weight: 300;
        line-height: 30px;
        font-size: 28px;
        padding: 65px 0px 0px;
      }
      p {
        font-weight: 300;
        color: #999;
        max-width: 950px;
        font-size: 18px;
        padding: 7px 16px 20px;
        font-family: "Roboto", sans-serif;
        margin: 0px 25px;
        line-height: 27px;
        text-align: center;
        opacity: 5;
      }
      a {
        text-decoration: none;
        color: #44D62C;
        font-size: 16px;
        font-weight: 300;
        padding: 0px 16px;
        &::after{
          @include ok;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .intro-tag {
    background-color: #252525;
    padding: 64px 0px 40px;
    color: #FFF;

    .container{
      display: flex;
      flex-direction: column;
      padding: 0px 24px;

      h2 {
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        text-align: center;
        font-family: RazerF5, sans-serif;;
        font-weight: 200;
        padding: 0px 0px 5pxd;
        margin: 0px 0px 8px;
      }
      p {
        color: #999;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.75rem;
      }
    }
  }
  .card-panel{
    .container {
      background-color: #252525;
      max-height: max-content;
      padding: 25px 0px;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;

    .card-item {
      border-bottom: 0.8px solid #44D62C;
      font-family: "Roboto",Helvetica,Arial,sans-serif;
      font-size: 1.125rem;
      max-width: 450px;

      .img-container {
        img {
          background-color: #000;
          width: 100%;
          min-width: 250px;
        }
      }

      .text-container {
        background-color: #111;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        font-size: 14px;
        height: 100%;

        .text1 {
          padding: 10px 10px 0px;
          font-family: "Roboto", Helvetica, Arial, sans-serif;
          font-size: 18px;
          color: #fff;
          font-weight: 300;

        }
        p {
          color: #888;
          padding: 10px 10px 0;
        }

        a {
          color: #44D62C;
          text-decoration: none;
          padding: 10px;
          &::after {
            content: ">";
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.dashboard94 {
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    
  .img-container {
    display: flex;
    position: absolute;
    
    img {
      width: 100%;
      height: 400px;
    }
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    position: absolute;
    margin: 0 0 0 1rem;
    padding: 0 1rem;
    height: 100%;

    h2 {
      font-family: "Razer-F5",sans-serif;
      font-weight: 200;
      color: #FFF;
      font-size: 28px;
      margin: 1rem 0;
      line-height: 30px;
    }

    p {
      font-size: 1.1rem;
      color: #8888;
    }

    a {
      text-decoration: none;
      color: #44D62C;
      font-size: 1rem;
      font-family: "Roboto",sans-serif;
      padding: 1rem 0;
    }
    a:hover {
      text-decoration: underline;
    }
    }
  }
}
}

@media (max-width: 1460px) {
  .cardpanel .container{
    flex-wrap: nowrap;
  }
}